<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
        class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
        contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
        default="true"
        extensions="asm,inc"
        icon="icons/asm16.png"
        id="uk.co.bithatch.eclipz80.Asm"
        name="Asm Editor">
		</editor>
	</extension>
	
	<extension
		point="org.eclipse.ui.handlers">
		
        <handler commandId="uk.co.bithatch.eclipz80.ui.debug.toggleBreakpoint" class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.debug.ToggleBreakpointHandler">
            <activeWhen>
                <reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened" />
            </activeWhen>
        </handler>
		<handler
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="uk.co.bithatch.eclipz80.Asm.validate">
			<activeWhen>
				<reference
					definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="uk.co.bithatch.eclipz80.Asm.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="uk.co.bithatch.eclipz80.Asm.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="uk.co.bithatch.eclipz80.Asm"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="uk.co.bithatch.eclipz80.Asm.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="uk.co.bithatch.eclipz80.Asm"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword id="uk.co.bithatch.eclipz80.ui.keyword_Asm" label="Asm"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_ErrorsWarnings" label="Errors/Warnings"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_Compiler" label="Compiler"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_SyntaxColoring" label="Syntax Colouring"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_Defines" label="Defines"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_IncludePaths" label="Include Paths"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_LibPaths" label="Library Paths"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_Refactoring" label="Refactoring"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_Templates" label="Templates"/>
        <keyword id="uk.co.bithatch.eclipz80.ui.keyword_Language" label="Language"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="uk.co.bithatch.eclipz80.Asm.validate"
			name="Validate">
		</command>
		<!-- copy qualified name -->
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
        <command id="uk.co.bithatch.eclipz80.ui.debug.toggleBreakpoint" name="Toggle Breakpoint" />
		<category id="uk.co.bithatch.eclipz80.ui.AsmNature.category" name="Assembly Nature commands" />
		<command categoryId="uk.co.bithatch.eclipz80.ui.AsmNature.category" defaultHandler="uk.co.bithatch.eclipz80.ui.builder.AddRemoveAsmNatureHandler" id="uk.co.bithatch.eclipz80.ui.addRemoveAsmNature" name="Add/Remove Assembly Nature" />
	</extension>
	<extension point="org.eclipse.ui.menus">
	
	   <menuContribution locationURI="popup:#TextRulerContext">
            <command commandId="uk.co.bithatch.eclipz80.ui.debug.toggleBreakpoint" label="Toggle Breakpoint" style="push">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened" />
                </visibleWhen>
            </command>
        </menuContribution>
        
        
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command
				commandId="uk.co.bithatch.eclipz80.Asm.validate"
				style="push"
				tooltip="Trigger expensive validation">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="uk.co.bithatch.eclipz80.Asm.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="asm,inc"
			id="uk.co.bithatch.eclipz80.Asm.contenttype"
			name="Asm File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="asm">
		</parser>
		<parser
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="inc">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="asm">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="inc">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for uk.co.bithatch.eclipz80.Asm -->
	<extension point="org.eclipse.core.resources.markers" id="debug.lineBreakpointMarker" name="Z80 Line Breakpoint">
        <persistent value="true" />
        <super type="org.eclipse.debug.core.lineBreakpointMarker" />
        <attribute name="lineNumber" />
        <attribute name="enabled" />
    </extension>

    <!-- Register breakpoint type with the debug framework -->
    <extension point="org.eclipse.debug.core.breakpoints">
        <breakpoint
            id="uk.co.bithatch.eclipz80.ui.debug.lineBreakpoint"
            class="uk.co.bithatch.eclipz80.ui.debug.AsmLineBreakpoint"
            markerType="uk.co.bithatch.eclipz80.ui.debug.lineBreakpointMarker"
            name="Z80 Assembly Line Breakpoint">
        </breakpoint>
    </extension>

    <!-- Toggle breakpoints target factory for ruler actions -->
    <extension point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
        <toggleTargetFactory
            id="uk.co.bithatch.eclipz80.ui.debug.toggleBreakpointsTargetFactory"
            class="uk.co.bithatch.eclipz80.ui.debug.AsmToggleBreakpointsTargetFactory">
        </toggleTargetFactory>
    </extension>
	<extension
			id="asm.check.fast"
			name="Asm Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="asm.check.normal"
			name="Asm Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="asm.check.expensive"
			name="Asm Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="asmProblem"
			name="Assembler Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="uk.co.bithatch.eclipz80.Asm"
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="uk.co.bithatch.eclipz80.Asm.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_ErrorsWarnings"/>
		</page>
		<page
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm"
            name="Asm">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_Asm"/>
        </page>
        <page
            category="uk.co.bithatch.eclipz80.Asm"
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm.coloring"
            name="Syntax Coloring">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_SyntaxColoring"/>
        </page>
        <page
            category="uk.co.bithatch.eclipz80.Asm"
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="uk.co.bithatch.eclipz80.Asm.templates"
            name="Templates">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_Templates"/>
        </page>
        <page
            category="uk.co.bithatch.eclipz80.Asm"
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.preferences.AsmCompilerPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_Compiler"/>
        </page>
        <page
            category="uk.co.bithatch.eclipz80.Asm"
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.preferences.AsmDefinesPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm.defines.preferencePage"
            name="Defines">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_Defines"/>
        </page>
        <page
            category="uk.co.bithatch.eclipz80.Asm"
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.preferences.AsmIncludePathsPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm.includePaths.preferencePage"
            name="Include Paths">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_IncludePaths"/>
        </page>
        <page
            category="uk.co.bithatch.eclipz80.Asm"
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.preferences.AsmLibraryPathsPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm.libPaths.preferencePage"
            name="Library Paths">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_LibPaths"/>
        </page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="asm"/>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
	   <page
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm"
            name="Asm">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_Language"/>
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject"/>
            </enabledWhen>
            <filter name="projectNature" value="uk.co.bithatch.eclipz80.ui.AsmNature"/>
        </page>
		<page
			category="uk.co.bithatch.eclipz80.Asm"
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.preferences.AsmCompilerPreferencePage"
			id="uk.co.bithatch.eclipz80.Asm.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_Compiler"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="uk.co.bithatch.eclipz80.ui.AsmNature"/>
		</page>
		<page
			category="uk.co.bithatch.eclipz80.Asm"
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.preferences.AsmDefinesPreferencePage"
			id="uk.co.bithatch.eclipz80.Asm.defines.propertyPage"
			name="Defines">
			<keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_Defines"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="uk.co.bithatch.eclipz80.ui.AsmNature"/>
		</page>
        <page
            category="uk.co.bithatch.eclipz80.Asm"
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.preferences.AsmIncludePathsPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm.includePaths.propertyPage"
            name="Include Paths">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_IncludePaths"/>
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject"/>
            </enabledWhen>
            <filter name="projectNature" value="uk.co.bithatch.eclipz80.ui.AsmNature"/>
        </page>
        <page
            category="uk.co.bithatch.eclipz80.Asm"
            class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.preferences.AsmLibraryPathsPreferencePage"
            id="uk.co.bithatch.eclipz80.Asm.libPaths.propertyPage"
            name="Library Paths">
            <keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_LibPaths"/>
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject"/>
            </enabledWhen>
            <filter name="projectNature" value="uk.co.bithatch.eclipz80.ui.AsmNature"/>
        </page>
		<page id="uk.co.bithatch.eclipz80.ui.programBuildOptions" name="Assembly Output" class="uk.co.bithatch.eclipz80.ui.preferences.WorkspaceFileProgramBuildOptionsPage">
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IFile">
                    <or>
                        <test property="org.eclipse.core.resources.extension" value="asm" />
                    </or>
                </adapt>
            </enabledWhen>
            <filter name="projectNature" value="uk.co.bithatch.eclipz80.ui.AsmNature" />
        </page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="uk.co.bithatch.eclipz80.Asm.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for uk.co.bithatch.eclipz80.Asm -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="uk.co.bithatch.eclipz80.ui.asm.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="uk.co.bithatch.eclipz80.ui.asm.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="uk.co.bithatch.eclipz80.ui.asm.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="uk.co.bithatch.eclipz80.Asm.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="uk.co.bithatch.eclipz80.Asm"
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="uk.co.bithatch.eclipz80.Asm.refactoring"
			name="Refactoring">
			<keywordReference id="uk.co.bithatch.eclipz80.ui.keyword_Refactoring"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="uk.co.bithatch.eclipz80.Asm.compare.contentViewers"
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="asm,inc">
		</viewer>
		<contentTypeBinding
			contentTypeId="uk.co.bithatch.eclipz80.Asm.contenttype"
			contentViewerId="uk.co.bithatch.eclipz80.Asm.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="uk.co.bithatch.eclipz80.Asm.compare.contentMergeViewers"
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="asm,inc" label="Asm Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="uk.co.bithatch.eclipz80.Asm.contenttype"
			contentMergeViewerId="uk.co.bithatch.eclipz80.Asm.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="uk.co.bithatch.eclipz80.Asm.editors.documentProviders"
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="asm,inc">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="asm,inc"
			type="text">
		</fileTypes>
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="uk.co.bithatch.eclipz80.ui.AsmExecutableExtensionFactory:uk.co.bithatch.eclipz80.ui.hyperlinking.AsmIncBinHyperlinkDetector"
			id="uk.co.bithatch.eclipz80.ui.IncBinHyperlinkDetector"
			name="INCBIN File Hyperlink"
			targetId="org.eclipse.ui.DefaultTextEditor">
		</hyperlinkDetector>
	</extension>
	<!-- Assembly Nature -->
	<extension id="AsmNature" name="Assembly Nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="uk.co.bithatch.eclipz80.ui.builder.AsmNature" />
		</runtime>
		<builder id="uk.co.bithatch.eclipz80.ui.AsmBuilder" />
	</extension>
	<extension id="AsmBuilder" name="Assembly Builder" point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="uk.co.bithatch.eclipz80.ui.builder.AsmBuilder" />
		</builder>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="uk.co.bithatch.eclipz80.ui.AsmNature.image" natureId="uk.co.bithatch.eclipz80.ui.AsmNature" icon="icons/nature8.png" />
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
			<command commandId="uk.co.bithatch.eclipz80.ui.addRemoveAsmNature" label="Disable Assembly Nature" style="push">
				<visibleWhen checkEnabled="false">
					<with variable="selection">
						<count value="1" />
						<iterate>
							<adapt type="org.eclipse.core.resources.IProject">
								<test property="org.eclipse.core.resources.projectNature" value="uk.co.bithatch.eclipz80.ui.AsmNature" />
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command commandId="uk.co.bithatch.eclipz80.ui.addRemoveAsmNature" label="Enable Assembly Nature" style="push">
				<visibleWhen checkEnabled="false">
					<with variable="selection">
						<count value="1" />
						<iterate>
							<adapt type="org.eclipse.core.resources.IProject">
								<not>
									<test property="org.eclipse.core.resources.projectNature" value="uk.co.bithatch.eclipz80.ui.AsmNature" />
								</not>
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="uk.co.bithatch.eclipz80.ui.preferences.AsmPreferenceInitializer" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="uk.co.bithatch.eclipzx.projects.category" name="Create ZX and ZX Next Projects" />
		<wizard
			id="uk.co.bithatch.eclipz80.AsmProjectWizard"
			name="Z80 Assembly Project"
			class="uk.co.bithatch.eclipz80.ui.wizard.AsmProjectWizard"
			category="uk.co.bithatch.eclipzx.projects.category"
			icon="icons/asm16.png"
			project="true">
			<description>Create a new Z80 assembly project with .asm file support</description>
		</wizard>
	</extension>
	
    <extension point="uk.co.bithatch.bitzx.languageSystemProvider">
        <languageSystemProvider 
            id="uk.co.bithatch.eclipz80.ui.langageSystemProvider.asm" 
            name="EclipZ80 Assembler" 
            class="uk.co.bithatch.eclipz80.ui.language.AsmLanguageSystemProvider"/> 
    </extension>
    
    <extension point="uk.co.bithatch.emuzx.ui.externallyLaunchable">
        <externallyLaunchable 
            id="uk.co.bithatch.eclipz80.ui.launch.externallyLaunchable" 
            name="Asm Externally Launchable" 
            class="uk.co.bithatch.eclipz80.ui.launch.AsmLaunchable" 
            extensions="asm"/>
    </extension>
    
    <extension point="uk.co.bithatch.emuzx.ui.internallyLaunchable">
        <internallyLaunchable 
            id="uk.co.bithatch.eclipz80.ui.launch.internallyLaunchable" 
            name="Asm Internally Launchable" 
            class="uk.co.bithatch.eclipz80.ui.launch.AsmLaunchable" 
            extensions="asm"/>
    </extension>     
    
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="uk.co.bithatch.eclipzx.ui.codingPerspective">
            <!-- Show the Run/Debug actions -->
            <actionSet id="org.eclipse.debug.ui.launchActionSet" />
            <!-- Optional: add New Project shortcut -->
            <newWizardShortcut id="uk.co.bithatch.eclipz80.AsmProjectWizard" />
        </perspectiveExtension>
        <perspectiveExtension targetID="uk.co.bithatch.eclipzx.ui.debuggingPerspective">
            <!-- Show the Run/Debug actions -->
            <actionSet id="org.eclipse.debug.ui.launchActionSet" />
            <actionSet id="org.eclipse.debug.ui.profileActionSet" />
        </perspectiveExtension>
    </extension>
    
</plugin>
