<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.35"?>
<plugin>   
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType 
            name="Internal Emulator (JSpeccy)" 
            delegate="uk.co.bithatch.emuzx.emulator.jspeccy.EmulatorLaunchConfiguration"
            modes="run,debug"
            id="uk.co.bithatch.emuzx.emulator.jspeccy.launch.emulatorLaunch" />
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage 
            configTypeID="uk.co.bithatch.emuzx.emulator.jspeccy.launch.emulatorLaunch" 
            icon="icons/jspeccy16.png" 
            id="uk.co.bithatch.emuzx.emulator.jspeccy.launch.emulatorLaunch.image" />
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
             class="uk.co.bithatch.emuzx.emulator.jspeccy.EmulatorLaunchConfigurationTabGroup" 
             id="uk.co.bithatch.emuzx.emulator.jspeccy.launch.emulatorLaunchConfigurationTabGroup" 
             type="uk.co.bithatch.emuzx.emulator.jspeccy.launch.emulatorLaunch" />
    </extension>
    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut 
            class="uk.co.bithatch.emuzx.emulator.jspeccy.EmulatorLaunchShortcut" 
            icon="icons/jspeccy16.png"
            id="uk.co.bithatch.emuzx.emulator.jspeccy.launch.emulatorLaunch" 
            label="Run In Internal Emulator (JSpeccy)" modes="run,debug">
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1" />
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IResource" />
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>
</plugin>