<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="EclipZX Platform">
    <locations>    
    
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://download.eclipse.org/releases/2026-06"/>
            <unit id="org.eclipse.platform" version="4.40.0.v20260601-0713"/>
            <unit id="org.eclipse.emf.ecore.feature.group" version="2.43.0.v20251210-1145"/>
            <unit id="org.eclipse.emf.common.feature.group" version="2.38.0.v20260311-1301"/>
            <unit id="org.eclipse.emf.edit.feature.group" version="2.24.0.v20250910-1205"/>
            <unit id="org.eclipse.emf.mwe.utils" version="1.20.0.v20260523-1243"/>
            <unit id="org.eclipse.emf.mwe2.launch" version="2.26.0.v20260523-1243"/>
            <unit id="org.eclipse.emf.mwe2.lib" version="2.26.0.v20260523-1243"/>
            <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.3.7"/>
            <unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.30.900.v20260513-1042"/>
            <unit id="org.eclipse.e4.rcp.feature.group" version="4.40.0.v20260516-1214"/>
            <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.7.1100.v20260516-0947"/>
            <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.4.3200.v20260516-0947"/>
            <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.3200.v20260516-0947"/>
            <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.4.3200.v20260516-0947"/>
            <unit id="org.eclipse.help.feature.group" version="2.3.2600.v20260601-0713"/>
            <unit id="org.eclipse.jdt.feature.group" version="3.20.600.v20260601-0713"/>
            <unit id="org.eclipse.platform.feature.group" version="4.40.0.v20260601-0955"/>
            <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.3300.v20260414-2255"/>
            <unit id="org.eclipse.terminal.view.core" version="1.0.100.v20251222-1406"/>
            <unit id="org.eclipse.terminal.view.ui" version="1.1.100.v20260427-0432"/>
            <unit id="org.eclipse.terminal.control" version="1.1.100.v20260305-1429"/>
            <unit id="org.eclipse.terminal.connector.process" version="1.1.0.v20251219-1227"/>
            <unit id="org.eclipse.terminal.connector.local" version="1.1.100.v20260427-0432"/>
            <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.7.100.v20260415-2025"/>
 			<unit id="org.eclipse.equinox.slf4j" version="1.0.300.v20260326-0654"/>
            <unit id="org.eclipse.ui.browser" version="3.9.100.v20260516-1214"/>
            <unit id="org.eclipse.epp.mpc.feature.group" version="1.13.0.v20250816-1241"/>
        </location>
        
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://download.eclipse.org/tools/cdt/releases/latest"/>
            <unit id="org.eclipse.cdt.feature.group" version="12.5.0.202606022100"/>
            <unit id="org.eclipse.cdt.native.feature.group" version="12.5.0.202606022100"/>
            <unit id="org.eclipse.cdt.gnu.dsf.feature.group" version="12.5.0.202603111352"/>
            <unit id="org.eclipse.cdt.dsf.gdb.ui" version="2.9.100.202603111352"/>
        </location>
        
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/composite/marketplace/"/>
            <unit id="org.eclipse.xtext" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.xbase" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.xbase.feature.group" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.xtext.ui.feature.group" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.xtext.generator" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.ide" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.xbase.ide" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.ui" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.ui.feature.group" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.ui.codetemplates.ui" version="2.43.0.v20260525-1205"/>
            <unit id="org.eclipse.xtext.runtime.feature.group" version="2.43.0.v20260525-1205"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://bined.exbin.org/eclipse-plugin/update"/>
            <unit id="org.exbin.bined.eclipse.feature.feature.group" version="0.2.2"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://bithatch.co.uk/repositories/p2"/>
            <unit id="com.formdev.flatlaf" version="3.7.1"/>
            <unit id="uk.co.bithatch.fat32" version="0.6.6"/>
            <unit id="org.glassfish.jaxb.core" version="4.0.6"/>
            <unit id="org.glassfish.jaxb.runtime" version="4.0.6"/>
            <unit id="uk.co.bithatch.zyxy-compress" version="0.0.4.20260620181217"/>
            <unit id="uk.co.bithatch.zyxy-dezog" version="0.0.4.20260620181217"/>
            <unit id="uk.co.bithatch.zyxy-graphics" version="0.0.4.20260620181217"/>
            <unit id="uk.co.bithatch.zyxy-lib" version="0.0.4.20260620181217"/>
            <unit id="uk.co.bithatch.zyxy-mmc" version="0.0.4.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-system" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-z80" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-clock" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-dezog" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-zxkeyboard" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-interface1" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-interface2" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-swt" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-swtgl" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-tape" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-base-audio" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-ay8912" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-zxspectrum" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.zoxo-snapshots" version="0.0.1.20260620181217"/>
            <unit id="uk.co.bithatch.tnfs-java-client" version="0.9.0.20260620181217"/>
            <unit id="uk.co.bithatch.tnfs-java-client-extensions" version="0.9.0.20260620181217"/>
            <unit id="uk.co.bithatch.tnfs-java-server" version="0.9.0.20260620181217"/>
            <unit id="uk.co.bithatch.tnfs-java-server-extensions" version="0.9.0.20260620181217"/>
            <unit id="uk.co.bithatch.tnfs-java-nio" version="0.9.0.20260620181217"/>
            <unit id="uk.co.bithatch.tnfs-java-lib" version="0.9.0.20260620181217"/>
            <unit id="uk.co.bithatch.tnfs-java-lib-extensions" version="0.9.0.20260620181217"/>
        </location>
    </locations>
</target>