<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="EclipZX Platform">
    <locations>    
    
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://download.eclipse.org/releases/2026-03"/>
            <unit id="org.eclipse.platform" version="4.39.0.v20260226-0420"/>
            <unit id="org.eclipse.emf.ecore.feature.group" version="2.43.0.v20251210-1145"/>
            <unit id="org.eclipse.emf.common.feature.group" version="2.38.0.v20251210-1145"/>
            <unit id="org.eclipse.emf.edit.feature.group" version="2.24.0.v20250910-1205"/>
            <unit id="org.eclipse.emf.mwe.utils" version="1.19.0.v20260221-0523"/>
            <unit id="org.eclipse.emf.mwe2.launch" version="2.25.0.v20260221-0523"/>
            <unit id="org.eclipse.emf.mwe2.lib" version="2.25.0.v20260221-0523"/>
            <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.3.7"/>
            <unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.30.800.v20260123-1626"/>
            <unit id="org.eclipse.e4.rcp.feature.group" version="4.39.0.v20260225-1014"/>
            <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.7.1000.v20260108-1444"/>
            <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.4.3100.v20260125-1012"/>
            <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.3100.v20260111-1642"/>
            <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.4.3100.v20260125-1012"/>
            <unit id="org.eclipse.help.feature.group" version="2.3.2500.v20260226-0420"/>
            <unit id="org.eclipse.jdt.feature.group" version="3.20.500.v20260226-0420"/>
            <unit id="org.eclipse.platform.feature.group" version="4.39.0.v20260226-0420"/>
            <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.3200.v20260203-2149"/>
            <unit id="org.eclipse.terminal.view.core" version="1.0.100.v20251222-1406"/>
            <unit id="org.eclipse.terminal.view.ui" version="1.1.0.v20260216-1048"/>
            <unit id="org.eclipse.terminal.control" version="1.1.0.v20260226-0920"/>
            <unit id="org.eclipse.terminal.connector.process" version="1.1.0.v20251219-1227"/>
            <unit id="org.eclipse.terminal.connector.local" version="1.1.0.v20251219-1227"/>
            <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.7.0.v20250304-2338"/>
 			<unit id="org.eclipse.equinox.slf4j" version="1.0.200.v20251003-0638"/>
            <unit id="org.eclipse.ui.browser" version="3.9.0.v20251217-1052"/>
            <unit id="org.eclipse.epp.mpc.feature.group" version="1.13.0.v20250816-1241"/>
        </location>
        
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://download.eclipse.org/tools/cdt/releases/latest"/>
            <unit id="org.eclipse.cdt.feature.group" version="12.4.0.202603041756"/>
            <unit id="org.eclipse.cdt.native.feature.group" version="12.4.0.202603041756"/>
            <unit id="org.eclipse.cdt.gnu.dsf.feature.group" version="12.4.0.202601271447"/>
            <unit id="org.eclipse.cdt.dsf.gdb.ui" version="2.9.0.202512020204"/>
        </location>
        
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/composite/marketplace/"/>
            <unit id="org.eclipse.xtext" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.xbase" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.xbase.feature.group" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.xtext.ui.feature.group" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.xtext.generator" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.ide" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.xbase.ide" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.ui" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.ui.feature.group" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.ui.codetemplates.ui" version="2.42.0.v20260223-0608"/>
            <unit id="org.eclipse.xtext.runtime.feature.group" version="2.42.0.v20260223-0608"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://bined.exbin.org/eclipse-plugin/update"/>
            <unit id="org.exbin.bined.eclipse.feature.feature.group" version="0.2.2"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <repository location="https://bithatch.co.uk/repositories/p2"/>
            <unit id="com.formdev.flatlaf" version="3.7.1"/>
            <unit id="uk.co.bithatch.fat32" version="0.6.6"/>
            <unit id="uk.co.bithatch.jspeccy.engine" version="1.0.2.bithatch2-20260507222551"/>
            <unit id="uk.co.bithatch.zyxy-compress" version="0.0.4"/>
            <unit id="uk.co.bithatch.zyxy-dezog" version="0.0.4"/>
            <unit id="uk.co.bithatch.zyxy-graphics" version="0.0.4"/>
            <unit id="uk.co.bithatch.zyxy-lib" version="0.0.4"/>
            <unit id="uk.co.bithatch.zyxy-mmc" version="0.0.4"/>
            <unit id="org.glassfish.jaxb.core" version="4.0.6"/>
            <unit id="org.glassfish.jaxb.runtime" version="4.0.6"/>
            <unit id="uk.co.bithatch.tnfs-java-client" version="0.9.0.20260507222551"/>
            <unit id="uk.co.bithatch.tnfs-java-client-extensions" version="0.9.0.20260507222551"/>
            <unit id="uk.co.bithatch.tnfs-java-server" version="0.9.0.20260507222551"/>
            <unit id="uk.co.bithatch.tnfs-java-server-extensions" version="0.9.0.20260507222551"/>
            <unit id="uk.co.bithatch.tnfs-java-nio" version="0.9.0.20260507222551"/>
            <unit id="uk.co.bithatch.tnfs-java-lib" version="0.9.0.20260507222551"/>
            <unit id="uk.co.bithatch.tnfs-java-lib-extensions" version="0.9.0.20260507222551"/>
        </location>
    </locations>
</target>