<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.35"?>
<plugin> 
    <extension-point id="uk.co.bithatch.emuzx.ui.externalEmulatorLaunchTabFactory" name="External Emulator Launcher Tab Factory" schema="schema/uk.co.bithatch.emuzx.ui.externalEmulatorLaunchTabFactory.exsd" />
    <extension-point id="uk.co.bithatch.emuzx.ui.externallyLaunchable" name="Language Specific External Launcher Support" schema="schema/uk.co.bithatch.emuzx.ui.externallyLaunchable.exsd" />
    <extension-point id="uk.co.bithatch.emuzx.ui.preparationTarget" name="External Emulator Preparation Target" schema="schema/uk.co.bithatch.emuzx.ui.preparationTarget.exsd" />
    <extension-point id="uk.co.bithatch.emuzx.preparationSource" name="External Emulator Preparation Source" schema="schema/uk.co.bithatch.emuzx.ui.preparationSource.exsd" />
    
    <extension point="org.eclipse.ui.keywords">
        <keyword id="uk.co.bithatch.emuzx.ui.keyword_ExternalEmulators" label="External Emulators" />
    </extension> 
      
    <extension point="org.eclipse.ui.preferencePages">
        <page class="uk.co.bithatch.emuzx.ui.ExternalEmulatorsPreferencePage" 
            id="uk.co.bithatch.emuzx.ui.preferencePage" name="External Emulators">
            <keywordReference id="uk.co.bithatch.emuzx.ui.keyword_ExternalEmulators" />
        </page>
    </extension> 
    
    <extension point="org.eclipse.ui.propertyPages">
        <page id="uk.co.bithatch.emuzx.ui.diskImagePreparationOptions" name="Disk Image Preparation" class="uk.co.bithatch.emuzx.ui.DiskImagePreparationOptionsPage">
            <enabledWhen>
                <or>
                    <adapt type="org.eclipse.core.resources.IFile" />
                    <adapt type="org.eclipse.core.resources.IFolder" />
                </or>
            </enabledWhen>
        </page>
    </extension>
    
    
    <extension point="org.eclipse.core.variables.dynamicVariables">
        <variable name="ee_program_path" supportsArgument="false" description="Workspace relative path to current source program (.bas or .asm)." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_program_loc" supportsArgument="false" description="Absolute path to current source program (.bas or .asm)." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_program_name" supportsArgument="false" description="The base name of current source program without any extension." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_program_ext" supportsArgument="false" description="The file extension of the current source program." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_output_path" supportsArgument="false" description="Workspace relative path to the final output file (e.g. .nex, .bin, .sna etc)." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_output_loc" supportsArgument="false" description="Absolute path to the final output file (e.g. .nex, .bin, .sna etc)." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_output_name" supportsArgument="false" description="The base name of the final output file (e.g. .nex, .bin, .sna etc)." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_launch_path" supportsArgument="false" description="Workspace relative path to the launched output file (e.g. .nex, .bin, .sna etc)." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_launch_loc" supportsArgument="false" description="Absolute path to the launched output file (e.g. .nex, .bin, .sna etc)." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
        <variable name="ee_launch_name" supportsArgument="false" description="The base name of the launched output file (e.g. .nex, .bin, .sna etc)." resolver="uk.co.bithatch.emuzx.ui.ExternalEmulatorVariableResolver" />
    </extension> 
    
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType name="External Emulator" delegate="uk.co.bithatch.emuzx.ui.ExternalEmulatorLaunchConfiguration" modes="run,debug" id="uk.co.bithatch.emuzx.ui.externalEmulatorLaunch" />
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage configTypeID="uk.co.bithatch.emuzx.ui.externalEmulatorLaunch" icon="icons/chip16.png" id="uk.co.bithatch.emuzx.ui.externalEmulatorLaunch.image" />
    </extension>
    
    
    
    <extension point="uk.co.bithatch.emuzx.ui.preparationTarget">
        <preparationTarget id="uk.co.bithatch.emuzx.ui.localPreparationTarget" name="Local File System Folder" uiClass="uk.co.bithatch.emuzx.ui.LocalPreparationTargetUI" class="uk.co.bithatch.emuzx.ui.LocalPreparationTarget" />
    </extension>
    
    <extension
          point="uk.co.bithatch.emuzx.preparationSource">
       <preparationSource
             id="uk.co.bithatch.nextbuild.compilerOutputPreparationSource"
             name="Compiler Output"
             order="100"
             selected="true"
             class="uk.co.bithatch.emuzx.ui.CompilerOutputPreparationSource">
       </preparationSource>
       <preparationSource
             id="uk.co.bithatch.nextbuild.associatedResourcesPreparationSource"
             name="Associated Resources"
             order="200"
             selected="true"
             class="uk.co.bithatch.emuzx.ui.AssociatedResourcesPreparationSource">
       </preparationSource>
       <preparationSource
             id="uk.co.bithatch.nextbuild.otherResourcesPreparationSource"
             name="Other Resources"
             order="300"
             uiClass="uk.co.bithatch.emuzx.ui.OtherResourcesPreparationTargetUI"
             class="uk.co.bithatch.emuzx.ui.OtherResourcesPreparationSource">
       </preparationSource>
       <preparationSource
             id="uk.co.bithatch.nextbuild.autoexecBasPreparationSource"
             name="Generate Autoexec.bas to autostart"
             selected="true"
             order="400"
             class="uk.co.bithatch.emuzx.ui.AutoexecBasPreparationSource">
       </preparationSource>
    </extension>
    
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup 
            class="uk.co.bithatch.emuzx.ui.ExternalEmulatorLaunchConfigurationTabGroup" 
            id="uk.co.bithatch.emuzx.ui.externalEmulatorLaunchConfigurationTabGroup" 
            type="uk.co.bithatch.emuzx.ui.externalEmulatorLaunch" />
    </extension>
    
    <!-- Bundle Application launch configuration (compile + prepare, no emulator) -->
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType 
            name="Bundle Application" 
            delegate="uk.co.bithatch.emuzx.ui.BundleLaunchConfiguration" 
            modes="run" 
            id="uk.co.bithatch.emuzx.ui.bundleLaunch" />
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage 
            configTypeID="uk.co.bithatch.emuzx.ui.bundleLaunch" 
            icon="icons/bundle16.png" 
            id="uk.co.bithatch.emuzx.ui.bundleLaunch.image" />
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup 
            class="uk.co.bithatch.emuzx.ui.BundleLaunchConfigurationTabGroup" 
            id="uk.co.bithatch.emuzx.ui.bundleLaunchConfigurationTabGroup" 
            type="uk.co.bithatch.emuzx.ui.bundleLaunch" />
    </extension>
    
    <!-- Export ZX Application wizard -->
    <extension point="org.eclipse.ui.exportWizards">
    
        <category
            id="uk.co.bithatch.eclipzx.category"
            name="ZX and ZX Next"/>
            
        <wizard id="uk.co.bithatch.emuzx.ui.exportZXApplication"
            name="Export ZX Application"
            class="uk.co.bithatch.emuzx.ui.ExportZXApplicationWizard"
            category="uk.co.bithatch.eclipzx.category"
            icon="icons/bundle16.png">
            <description>Export a ZX application by running a Bundle Application launch configuration and optionally archiving the result as a zip.</description>
        </wizard>
    </extension>
    
    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut class="uk.co.bithatch.emuzx.ui.ExternalEmulatorLaunchShortcut" 
                      icon="icons/chip16.png" 
                      id="uk.co.bithatch.emuzx.ui.externalEmulatorLaunch" 
                      label="Run In External Emulator" 
                      modes="run,debug" 
                      description="An external emulator should be configured in the preferences for this to work. If the emulator does not support direct launching of the output format, a FAT image should be prepared. See Launch Configuration for details.">
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1" />
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IResource">
                            </adapt>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>
</plugin>
